.contact {
    margin-bottom: 8rem;
    padding: 60px 0;
    text-align: center;
}

.contact h1 {
    margin-bottom: 4rem;
    font-size: min(6vw, 6rem);
    font-weight: 600;
    text-align: left;
}

.contact a {
    font-size: 2rem;
    text-decoration: underline;
}

.contact a:hover {
    color: var(--accent);
}

.contact h2 {
    padding-bottom: 2rem;
    font-size: 3rem;
    font-weight: 600;
}

.contact_wrapper {
    display: grid;
    gap: 2rem;
}

.contact_wrapper h3 {
    font-size: 2rem;
    color: var(--accent);
}

.contact_wrapper p {
    font-size: 1.75rem;
}

.social_media {
    justify-self: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 0 3rem;
}

.social_media h3 {
    flex-basis: 100%;
    padding-bottom: 1rem;
}

.social_media img {
    height: 60px;
    width: 60px;
}