@import "reset.css";
@import "nav.css";
@import "hero.css";
@import "work.css";
@import "about.css";
@import "contact.css";
@import "footer.css";

:root {
    --color: #F5F5EA;
    --accent: #c2c2b7;
    --bg-color: #151515;

    font-family: Arial, Helvetica, sans-serif;
    color: var(--color);
}

body {
    position: relative;
    margin: auto;
    padding: 0 5rem;
    max-width: 1200px;

    background-color: var(--bg-color);
}

.ham_active {
    overflow: hidden;
}

@media screen and (max-width: 1000px) {
    body {
        padding: 0 1rem;
    }
}