@import "reset.css";
@import "01nav.css";
@import "02hero.css";
@import "03work.css";
@import "04about.css";
@import "05contact.css";
@import "06footer.css";
@import "mediaqueries.css";

:root {
    --color: #F5F5EA;
    --accent: #c2c2b7;
    --bg-color: #151515;

    font-family: Arial, Helvetica, sans-serif;
    color: var(--color);
}

body {
    position: relative;
    margin: auto;
    padding: 0 5rem;
    max-width: 1200px;

    background-color: var(--bg-color);
}

@media screen and (max-width: 1000px) {
    body {
        padding: 0 1rem;
    }
}