@import url(./anim/hero-anim.css);

.hero {
    padding: 8rem 0 4rem;
    width: 100%;

    h1 {
        display: flex;
        font-size: min(11vw, 10rem);
        font-weight: 700;
        letter-spacing: 8px;
        line-height: 1;
    }

    .hero_h1-first {
        animation: h1-load 700ms ease-in-out both;
    }

    .hero_h1-second {
        animation: h1-load 700ms ease-in-out 200ms both;
    }

    span {
        display: inline-block;
        color: transparent;
        -webkit-text-stroke: 3px var(--color);
        text-shadow: 0px 0px var(--color);

        transition: text-shadow 200ms;
        cursor: default;
    }

    .line {
        height: 2px;
        width: 100%;
        margin: auto;
        background-color: var(--color);

        animation: line-load 1000ms ease-in-out both;
    }

    h2 {
        display: inline-block;
        padding: 0 5px;
        font-size: min(5vw, 5rem);
        font-weight: 600;
        line-height: 1.5;
        letter-spacing: 4px;
        -webkit-text-stroke: 2px var(--color);


        transition: color 300ms;
        animation: h2-load 700ms ease-in-out 400ms both;
        cursor: default;
    }
}

.hero_scroll {
    display: block;
    width: 65px;
    margin: auto;
    text-align: center;
    padding-bottom: 8rem;

    transition: color 200ms;
    animation: scroll-load 700ms ease-in-out 1300ms both;
}


.hero_scroll:hover {
    color: var(--accent);
}

@media only screen and (min-width: 1001px) {
    .hero {
        span:hover {
            text-shadow: -10px -15px var(--color);
        }

        h2:hover {
            color: transparent;
        }
    }
}

@media only screen and (max-width: 1001px) {
    .hero {

        span {
            font-size: 12vw;
            letter-spacing: normal;
            -webkit-text-stroke: 0;
        }

        h2 {
            font-size: 6vw;
            padding: 0;
            -webkit-text-stroke: 0;
            letter-spacing: normal;
            animation: none;
        }

        .hero_h1-first {
            animation: none;
        }

        .hero_h1-second {
            animation: none;
        }

        .line {
            animation: none;
        }
    }

    .hero_scroll {
        display: none;
        animation: none;
    }
}

@media (prefers-reduced-motion: reduce) {
    .hero {
        .hero_h1-first {
            animation: none;
        }

        .hero_h1-second {
            animation: none;
        }

        .line {
            animation: none;
        }
    }

    .hero_scroll {
        animation: none;
    }
}