@import url(./anim/hero-anim.css);

.hero {
  display: flex;
  flex-direction: column;
  padding: 8rem 0;
  width: 100%;
}

.hero h1 {
  display: flex;
  font-size: min(11vw, 10rem);
  font-weight: 700;
  letter-spacing: 8px;
  line-height: 1;
}

.hero .hero_h1-first {
  -webkit-animation: h1-load 700ms ease-in-out both;
  animation: h1-load 700ms ease-in-out both;
}

.hero .hero_h1-second {
  -webkit-animation: h1-load 700ms ease-in-out 200ms both;
  animation: h1-load 700ms ease-in-out 200ms both;
}

.hero span {
  display: inline-block;
  color: transparent;
  -webkit-text-stroke: 3px var(--color);
  text-shadow: 0px 0px var(--color);
  transition: text-shadow 200ms;
  cursor: default;
}

.hero .line {
  height: 2px;
  width: 100%;
  margin: auto;
  background-color: var(--color);
  -webkit-animation: line-load 1000ms ease-in-out both;
  animation: line-load 1000ms ease-in-out both;
}

.hero h2 {
  margin-bottom: 3rem;
  padding: 0 5px;
  line-height: 1.5;
  letter-spacing: 4px;
  font-size: min(5vw, 5rem);
  font-weight: 600;
  -webkit-text-stroke: 2px var(--color);

  transition: color 300ms;
  -webkit-animation: h2-load 700ms ease-in-out 400ms both;
  animation: h2-load 700ms ease-in-out 400ms both;
  cursor: default;
}

.hero_resume {
  width: fit-content;
  margin: auto;
  border-radius: 10px;
  font-size: 1.75rem;
  text-decoration: underline;

  transition: color 200ms;
  -webkit-animation: scroll-load 700ms ease-in-out 1300ms both;
  animation: scroll-load 700ms ease-in-out 1300ms both;
}

.hero_resume:hover {
  color: var(--accent);
}

@media only screen and (min-width: 1001px) {
  .hero span:hover {
    text-shadow: -10px -15px var(--color);
  }

  .hero h2:hover {
    color: transparent;
  }
}

@media only screen and (max-width: 1001px) {
  .hero span {
    font-size: 12vw;
    letter-spacing: normal;
    -webkit-text-stroke: 0;
  }

  .hero h2 {
    font-size: 6vw;
    padding: 0;
    -webkit-text-stroke: 0;
    letter-spacing: normal;
    -webkit-animation: none;
    animation: none;
  }

  .hero .hero_h1-first {
    -webkit-animation: none;
    animation: none;
  }

  .hero .hero_h1-second {
    -webkit-animation: none;
    animation: none;
  }

  .hero .line {
    -webkit-animation: none;
    animation: none;
  }

  .hero_resume {
    -webkit-animation: none;
    animation: none;
  }
}

@media (prefers-reduced-motion: reduce) {
  .hero .hero_h1-first {
    -webkit-animation: none;
    animation: none;
  }

  .hero .hero_h1-second {
    -webkit-animation: none;
    animation: none;
  }

  .hero .line {
    -webkit-animation: none;
    animation: none;
  }

  .hero_scroll {
    -webkit-animation: none;
    animation: none;
  }
}