header {
  position: fixed;
  margin: auto;
  left: 0;
  right: 0;
  padding: 0 5rem;
  max-width: 1200px;
  z-index: 10;
}

nav {
  padding: 1rem 0;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  border-bottom: 2px solid;
  background-color: var(--bg-color);
}

nav p {
  font-weight: 300;
}

nav .nav_p {
  text-align: right;
}

nav .menu {
  display: flex;
  justify-content: space-between;
}

nav a {
  font-size: 1.25rem;
  font-weight: 700;
  transition: color 200ms;
}

nav a:hover {
  color: var(--accent);
}

nav #hamIcon {
  width: 30px;
  height: 30px;
  padding: 0.5rem;
  display: none;
  background-color: none;
  cursor: pointer;
}

@media only screen and (max-width: 1000px) {
  header {
    padding: 0 1rem;
  }

  nav {
    display: flex;
    margin: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    justify-content: center;
    padding: 0.25rem 0;
  }

  nav #hamIcon {
    display: inline-block;
  }

  nav .menu {
    position: absolute;
    flex-direction: column;
    gap: 5rem;
    background-color: var(--bg-color);
    justify-content: flex-start;
    text-align: center;
    min-height: 100vh;
    margin: auto;
    width: 120%;
    padding-top: 150px;
    top: 0;
    right: 0;
    left: 150%;
    z-index: -1;
    transition: left 0.7s;
  }

  nav .menu a {
    font-size: 2.5rem;
  }

  nav .menu.active {
    left: -10%;
  }

  nav p {
    display: none;
  }
}